# --- System Files ---
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# --- IDEs and Editors ---
.vscode/
.idea/
*.swp
*.swo
*~

# --- Build & Compilation ---
# Object files
*.o
*.obj
*.slo
*.lo

# Libraries
*.lib
*.a
*.la
*.lai
*.so
*.so.*
*.dylib
*.dll

# Executables
*.exe
*.out
*.app
*.i*86
*.x86
*.x86_64
*.endpoint
*.x

# Precompiled Headers
*.gch
*.pch

# CMake
CMakeCache.txt
CMakeFiles/
CMakeScripts/
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps/

# Fortran
*.mod
*.smod

# --- Languages ---
# C++
*.d

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# --- Project Specific ---
# Doxygen
latex/
html/

# Build folders
bin/
obj/
build/

# Miscellaneous
*.bak
*.png
radial_plots/