# Build Artifacts

# Prerequisites
*.d

# Compiled Object Files
*.o
*.obj
*.lo
*.slo

# Precompiled Headers
*.gch
*.pch

# Compiled Libraries
*.so
*.dylib
*.dll       # Dynamic
*.a
*.lib
*.la
*.lai       # Static

# Fortran Module Files
*.mod
*.smod

# Executables
*.exe
*.out
*.app
*.x

# Development Environment

# IDE / Editor folders
.vscode/
.vs/

# Python
__pycache__/

# Backup and temporary files
*.bak

# macOS
.DS_Store

# Project-specific folders to ignore
bin/
obj/
build/
out/

# Doxygen
latex/