name: Build SCIANTIX

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Build SCIANTIX
        run: |
          echo "Compiling SCIANTIX"
          mkdir build
          cd build
          cmake ..
          make -j

      - name: Archive build artifacts
        uses: actions/upload-artifact@v4
        with:
          name: sciantix-build
          path: build
